html {
  font-family: "Roboto Condensed";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.625;
  color: #555555;
  background-color: #ffffff;
  height: 100%;

  -webkit-background-size: cover;
          background-size: cover;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  height: 100%;
}
@media (max-width: 991px) {
  .container {
    padding-top: 122px;
  }
}
@media (min-width: 768px) {
  .container {
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#page {
  max-width: 992px;
  margin: 0 auto;
  position: relative;
  background: none;
  height: 100%;
}
@media (min-width: 992px) {
  #page > .container > .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

#secondary {
  position: relative;
  padding: 0;
  padding-top: 122px;
  overflow-y:hidden;
}
#secondary:hover {
  overflow-y:auto;
}
@media (min-width: 992px) {
  #secondary {
    height: 100%;
    float: left;
    width: 25%;
    padding: 142px 0 20px 0;
  }
}
#secondary a {
  color: #fff;
}
#secondary a:hover,
#secondary a:active {
  color: #777777;
}
#secondary h1,
#secondary h2,
#secondary h3,
#secondary h4,
#secondary h5,
#secondary h6 {
  color: rgba(255, 255, 255, 0.8);
}
#secondary ul,
#secondary ol {
  margin: 0 0 0 15px;
  padding: 0;
}
#secondary .widget {
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 14px;
}
#secondary .widget:last-child {
  border-bottom: none;
}
#secondary .widget-title {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
  line-height: 20px;
  margin: 0 0 10px;
}
#secondary .toggle-sidebar,
#secondary .toggle-navigation {
  float: left;
  margin-top: -41px;
  width: 40px;
  height: 40px;
  border-color: rgba(255, 255, 255, 0.1);
  border-width: 0 1px 0 0;
  border-style: solid;
  color: #fff;
  outline: none !important;
}
#secondary .toggle-navigation {
  float: right;
  border-width: 0 0 0 1px;
}
#masthead {
    position: absolute;
    top: 0;
    width: 100%;
  text-align: center;
    
}
@media (min-width: 992px) {
  #masthead {
    top: 20px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    text-align: left;
    padding-left: 40px;
  }
}
#masthead .hgroup {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#masthead .site-title {
  line-height: 50px;
  font-size: 50px;
  margin: 0;
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#masthead .site-title a {
  display: block;
}
#masthead .display-logo {
  line-height: 1;
}
#masthead .display-logo img {
  display: block;
  margin: 0 auto;
}
#masthead .site-description {
  text-transform: uppercase;
  margin: 10px 0;
  line-height: 20px;
  font-size: 12px;
}
.sidebar-offcanvas {
  min-height: 100%;
}
@media (min-width: 992px) {
  .sidebar-offcanvas {
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
  }
}
@media (max-width: 991px) {
  #secondary {
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    -webkit-transition: background-color 0.25s;
         -o-transition: background-color 0.25s;
            transition: background-color 0.25s;
  }
  #secondary.active {
    background-color: rgba(0,0,0,0.4);
  }
  .sidebar-offcanvas-container {
    display: none;
    height: 100%;
  }
  /* active переключается сразу, а enabled выключается с задержкой, после анимации*/
  #secondary.enabled {
    height: 100%;
  }
  #secondary #masthead {
    box-shadow:0 2px 10px rgba(0,0,0,.35)
  }
  #secondary.enabled .sidebar-offcanvas {
    box-shadow:0 2px 10px rgba(0,0,0,.35)
  }
  #secondary.enabled .sidebar-offcanvas-container {
    display: block;
  }
  .sidebar-offcanvas {
    width: 250px;
    margin-left: -250px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    height: 100%;
    overflow: scroll;
    -webkit-transition: margin-left 0.25s;
         -o-transition: margin-left 0.25s;
            transition: margin-left 0.25s;
  }
  #secondary.active .sidebar-offcanvas {
    margin-left: 0;
  }
}

#primary {
  padding: 0;
  height: 100%;
  overflow-y: auto; 

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
#primary #content {
    background: #fff;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
@media (min-width: 992px) {
  #primary {
    width: 75%;
    padding: 20px 0 20px 20px;
  }
  #primary #content {
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    box-shadow: 0 0 0 1px #dadada;
  }
  .site-info {
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
  }
}
@media (max-width: 991px) {
  #primary.no-scroll-blocked-mobile {
    height: 100% !important;
    overflow: hidden !important;
    -webkit-overflow-scrolling: auto !important;
  }
  #primary .page-title {
    padding: 20px 60px;
  }
}
@media (max-width: 767px) {
  #primary .page-title {
    padding: 20px 30px;
  }
}
#site-navigation {
  padding: 0;
  border-top: none;
}
#site-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#site-navigation li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: block;
}
#site-navigation li.fa:before {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: block;
  float: left;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: inherit;
  width: 40px;
  font-size: 14px;
}
#site-navigation a {
  line-height: 40px;
  padding: 10px 25px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  width: 100%;
  
}
#site-navigation a:hover,
#site-navigation a:focus {
  color: rgba(255, 255, 255, 0.5);
  
}
#site-navigation .toggle-sidebar {
  float: left;
  color: #fff;
  width: 40px;
  height: 40px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  outline: none !important;
}
#site-navigation .menu-item-has-children .fa,
#site-navigation .page_item_has_children .fa {
  float: right;
  font-size: 14px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
#site-navigation .menu-item-has-children .fa.open,
#site-navigation .page_item_has_children .fa.open {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#site-navigation .sub-menu,
#site-navigation .children {
  display: none;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.1);
}
#site-navigation .sub-menu li:last-child,
#site-navigation .children li:last-child {
  border-bottom: none;
}
#site-navigation .sub-menu li:first-child,
#site-navigation .children li:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
#site-navigation .sub-menu .sub-menu,
#site-navigation .children .sub-menu,
#site-navigation .sub-menu .children,
#site-navigation .children .children {
  background: rgba(0, 0, 0, 0.3);
}
#site-navigation .sub-menu .sub-menu .sub-menu,
#site-navigation .children .sub-menu .sub-menu,
#site-navigation .sub-menu .children .sub-menu,
#site-navigation .children .children .sub-menu,
#site-navigation .sub-menu .sub-menu .children,
#site-navigation .children .sub-menu .children,
#site-navigation .sub-menu .children .children,
#site-navigation .children .children .children {
  background: rgba(0, 0, 0, 0.5);
}
#site-navigation .current-menu-item > a,
#site-navigation .current-menu-parent > a,
#site-navigation .current-menu-ancestor > a,
#site-navigation .current_page_item > a,
#site-navigation .current_page_parent > a,
#site-navigation .current_page_ancestor > a {
  

}
#site-navigation .current-menu-parent > .fa,
#site-navigation .current-menu-ancestor > .fa,
#site-navigation .current_page_parent > .fa,
#site-navigation .current_page_ancestor > .fa {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#site-navigation .current-menu-parent > .fa.open,
#site-navigation .current-menu-ancestor > .fa.open,
#site-navigation .current_page_parent > .fa.open,
#site-navigation .current_page_ancestor > .fa.open {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
#site-navigation .current-menu-parent > .sub-menu,
#site-navigation .current-menu-ancestor > .sub-menu,
#site-navigation .current_page_parent > .sub-menu,
#site-navigation .current_page_ancestor > .sub-menu,
#site-navigation .current-menu-parent > .children,
#site-navigation .current-menu-ancestor > .children,
#site-navigation .current_page_parent > .children,
#site-navigation .current_page_ancestor > .children {
  display: block;
}
.page-content {
  padding: 90px;
  border-bottom: 1px solid #eeeeee;
}
.hentry {
  padding: 25px 25px;
  position: relative;
}
/*
@media (max-width: 991px) {
  .hentry {
    padding: 60px 125px;
  }
}
@media (max-width: 991px) {
  .hentry {
    padding: 60px;
  }
}
*/
@media (max-width: 767px) {
  .hentry {
    padding: 5px 0px;
  }
}
.hentry .entry-thumbnail,
.hentry .entry-media {
  margin: 30px 0 0;
  text-align: center;
}
.hentry .entry-title {
  margin: 0;
  text-align: center;
}
@media (max-width: 767px) {
  .hentry .entry-title {
    font-size: 32px;
  }
}

.hentry .entry-title a {
  color: #34495e;
}
.hentry .entry-title a:hover,
.hentry .entry-title a:focus {
  color: #333333;
}
.hentry .entry-meta {
  text-align: center;
  color: #777777;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.hentry .entry-meta .sep {
  margin: 0 10px;
}
.hentry .entry-content,
.hentry .entry-summary {
  padding: 30px 0 0;
}
@media (max-width: 767px) {
  .hentry .entry-content,
  .hentry .entry-summary {
    padding: 0;
  }
}
.hentry .page-links {
  padding: 30px 0 0;
}
.hentry .page-links a {
  color: #f39c12;
}
.hentry .page-links a:hover,
.hentry .page-links a:focus {
  color: #333333;
}
.hentry .tags-links {
  margin: 40px 0 0;
}
@media (max-width: 991px) {
  .hentry .tags-links {
    margin: 30px 0;
  }
}
.hentry .tags-links a {
  background: #eeeeee;
  color: #333333;
  padding: 5px 10px;
}
.hentry .tags-links a:hover,
.hentry .tags-links a:focus {
  background: #333333;
  color: #eeeeee;
}